# SPDX-FileCopyrightText: Copyright 2025 Siemens
#
# SPDX-License-Identifier: Apache-2.0

build
test/gta_state
test/test_data/*.crt
test/test_data/*.key
test/test_data/*.bin
test/test_data/*.enc
test/test_data/*.csr
test/test_data/*.srl
