# SPDX-FileCopyrightText: Copyright 2025 Siemens
#
# SPDX-License-Identifier: Apache-2.0

name: CI
on:
  [workflow_dispatch, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libcmocka-dev meson ninja-build build-essential libssl-dev cmake pkg-config git valgrind
      - name: Checkout gta-api-core
        uses: actions/checkout@v4
        with:
          repository: 'generic-trust-anchor-api/gta-api-core'
          ref: 'main'
      - name: Build and install gta-api-core
        run: |
          meson setup build
          sudo ninja -C build install
      - name: Checkout gta-api-sw-provider
        uses: actions/checkout@v4
        with:
          repository: 'generic-trust-anchor-api/gta-api-sw-provider'
          ref: 'main'
      - name: Build and install gta-api-sw-provider
        run: |
          meson setup build
          sudo ninja -C build install
      - name: Checkout gta-cli
        uses: actions/checkout@v4
      - name: Build gta-cli
        run: |
          meson setup build --werror
          ninja -C build
      - name: Test gta-cli
        run: |
          ninja -C build test

  style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gta-cli
        uses: actions/checkout@v4
      - name: Style check
        run: |
          FILES=$(find . -name '*.c' -o -name '*.h')
          clang-format --dry-run --Werror $FILES

  reuse-compliance-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gta-cli
        uses: actions/checkout@v4
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
        with:
          args: --include-submodules lint
